<div class="container">
    <div class="row login_row">
        <div class="col offset-s3 s6">
            <div class="row">
                <div class="input-field col s12">
                    <input id="last_name" type="text" class="validate"
                            data-bind="value: login">
                    <label for="last_name">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate"
                            data-bind="value: password">
                    <label for="password">Пароль</label>
                </div>
                <div class="input-field col">
                    <a href="#" class="btn"
                            data-bind="click: send">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>