<ul id="user_dropdown" class="dropdown-content">
    <li><a href="">Настройки</a></li>
    <li class="divider"></li>
    <li><a href="" data-bind="click: logout">Выход</a></li>
</ul>
<ul id="inapps_dropdown" class="dropdown-content">
    <li><a href="/inapp/google" title="/inapp/google" data-link="1">Google</a></li>
    <li class="disabled"><a><s>Apple</s></a></li>
</ul>
<nav>
    <div class="nav-wrapper teal lighten-2">
        <!-- ko if: user() -->
        <ul  class="right">
            <li>
                <a class="dropdown-button" href="#!" data-activates="user_dropdown"
                   data-bind="dropdown"><span data-bind="text:user().login"></span><i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
        <!-- /ko -->
        <ul  class="left">
            <li>
                <a class="dropdown-button" href="#!" data-activates="inapps_dropdown"
                   data-bind="dropdown">InApps
                </a>
            </li>
            <li><a href="">Отчеты</a></li>
            <li><a href="">Поставщики</a></li>
        </ul>
    </div>
</nav>