<div class="container inapp">
    <section class="row header">
        <p class="flow-text offset-s1 col">
            Контент для продажи в <a href="https://play.google.com/apps/publish">play.google.com</a>
        </p>
    </section>
    <section class="stages">
        <div class="row stage active">
            <div class="col s1">
                <div class="circle">
                    <span class="num">
                        1
                    </span>
                </div>
            </div>
            <div class="col s10">
                <p class="title">
                    Сделайте экспорт из <a href="">play.google.com</a>
                </p>
                <p class="description">
                    <a href="" data-bind="click: selectLocalFile">Загрузите список</a> уже существующих книг. Это поможет разобраться с новыми книгами
                </p>
            </div>
        </div>
        <div class="row stage">
            <div class="col s1">
                <div class="circle">
                    <span class="num">
                        2
                    </span>
                </div>
            </div>
            <div class="col s10">
                <p class="title">
                    Загрузите список с новыми книгами
                </p>
                <p class="description">
                    Их можно загрузить в формате excel, csv/tsv
                </p>
            </div>
        </div>
        <div class="row stage">
            <div class="col s1">
                <div class="circle">
                    <span class="num">
                        3
                    </span>
                </div>
            </div>
            <div class="col s10">
                <p class="title">
                    Немного расскажите о таблице
                </p>
                <p class="description">
                    Нужно будет указать программе какую информацию содержат поля таблицы. Или просто убедиться, что все правильно
                </p>
            </div>
        </div>
    </section>
</div>