.stages{
  .stage{
    //margin-top: 0;
    //padding-top: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px color('grey', 'lighten-4');
    @include filter(opacity(30%));
    .circle{
      background: color('grey', 'lighten-3');
      width: 50px;
      height: 50px;
      position: relative;
    }
    .num{
      display: block;
      position: absolute;
      top: 50%;
      left:50%;
      @include transform(translate(-50%, -50%));
      line-height: 1;
      font-size: 20px;
      color: color('grey', 'base');
    }
    .title{
      font-size: 1.64rem;
      margin: 10px 0;
    }
    .description{
      margin-top: 0;
    }
    &.active{
      @include filter(opacity(100%));
    }
    &.success{
      @include filter(opacity(100%));
      .circle{
        background: color('green', 'base');
      }
      .num{
        color: color('shades', 'white');
      }
    }
  }
}