@import '../bower_modules/materialize/sass/materialize';
@import '../bower_modules/bourbon/app/assets/stylesheets/_bourbon';
@import 'inapp_google'; 
html, body {
  height: 100%;
}
.container{
  height: 100%;
}

.login_row{
  top:50%;
  position: relative;
  margin-top: -200px;
}

.progress {
  top: 0;
  position: absolute;
  height: 3px;
  margin: 0;
}
